Repository aranya-project/aranya-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdygert-spok, @chip-so, @djohnson-spideroak, @ssweetney-spok, @gknopf-aranya, @ycarmy, @apetkov-so, @benz-spideroak, @nikki-aranya

.github/CODEOWNERS:

* @jdygert-spok @chip-so

/canaries @jdygert-spok @djohnson-spideroak

/crates/aranya-afc-util @jdygert-spok @ssweetney-spok @gknopf-aranya
/crates/aranya-base58 @jdygert-spok @ssweetney-spok
/crates/aranya-buggy @jdygert-spok @ssweetney-spok
/crates/aranya-libc @jdygert-spok @ssweetney-spok

/crates/aranya-capi* @jdygert-spok @chip-so @ssweetney-spok

/crates/aranya-crypto* @ycarmy @jdygert-spok @djohnson-spideroak

/crates/aranya-device-ffi @chip-so @jdygert-spok @ssweetney-spok
/crates/aranya-envelope-ffi @ycarmy @ssweetney-spok
/crates/aranya-idam-ffi @ycarmy @ssweetney-spok
/crates/aranya-model @jdygert-spok @ssweetney-spok
/crates/aranya-perspective-ffi @apetkov-so @chip-so @ssweetney-spok

/crates/aranya-policy-* @chip-so @apetkov-so @ssweetney-spok
/crates/aranya-policy-ifgen* @jdygert-spok @ssweetney-spok
/crates/aranya-policy-derive @chip-so @ssweetney-spok

/crates/aranya-quic-syncer @benz-spideroak @jdygert-spok @nikki-aranya
/crates/aranya-runtime @jdygert-spok @ssweetney-spok

/.github @djohnson-spideroak @gknopf-aranya @jdygert-spok

CHANGELOG.md @benz-spideroak @chip-so @djohnson-spideroak @gknopf-aranya @jdygert-spok @ssweetney-spok

Fix as/assert name clash
  crates/aranya-policy-compiler/src/tests.rs
  crates/aranya-policy-lang/src/lang/parse/policy.pest
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_policy_test.snap
  crates/aranya-policy-lang/src/lang/parse/tests.rs
Owners: @chip-so, @apetkov-so, @ssweetney-spok

WIP: add assert statement
  crates/aranya-policy-ast/src/ast.rs
  crates/aranya-policy-compiler/src/compile.rs
  crates/aranya-policy-lang/src/lang/parse.rs
  crates/aranya-policy-lang/src/lang/parse/policy.pest
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_policy_test.snap
  crates/aranya-policy-lang/src/lang/parse/tests.rs
Owners: @chip-so, @apetkov-so, @ssweetney-spok

Add `action` function color.
  crates/aranya-model/src/tests/ffi-policy.md
  crates/aranya-policy-ast/src/ast.rs
  crates/aranya-policy-compiler/src/compile.rs
  crates/aranya-policy-compiler/src/compile/error.rs
  crates/aranya-policy-compiler/src/tests.rs
  crates/aranya-policy-lang/src/lang/parse.rs
  crates/aranya-policy-lang/src/lang/parse/policy.pest
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__action_call.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__block_expression.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__if_expression.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__map_statement.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_effect_with_field_insertion.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_enum_definition.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_global_let_statements.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_match_expression.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_policy_immutable_facts.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_policy_test.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_seal_open.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_struct.snap
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_tictactoe.snap
  crates/aranya-policy-lang/src/lang/parse/tests.rs
Owners: @jdygert-spok, @ssweetney-spok, @chip-so, @apetkov-so

fix tests
  crates/aranya-policy-compiler/src/tests.rs
  crates/aranya-policy-lang/src/lang/parse/snapshots/aranya_policy_lang__lang__parse__tests__parse_policy_test.snap
  crates/aranya-policy-vm/tests/vm.rs
  crates/aranya-runtime/src/testing/vm.rs
Owners: @chip-so, @apetkov-so, @ssweetney-spok, @jdygert-spok

hacky fix for "as" being consumed as part of "assert"
  crates/aranya-policy-lang/src/lang/parse/policy.pest
Owners: @chip-so, @apetkov-so, @ssweetney-spok

Assert now has a required message arg, which gets passed back to the runtime.
  crates/aranya-model/src/tests/ffi-policy.md
  crates/aranya-policy-ast/src/ast.rs
  crates/aranya-policy-compiler/src/compile.rs
  crates/aranya-policy-compiler/src/tests.rs
  crates/aranya-policy-lang/src/lang/parse.rs
  crates/aranya-policy-lang/src/lang/parse/policy.pest
  crates/aranya-policy-module/src/instructions.rs
  crates/aranya-policy-vm/tests/vm.rs
  crates/aranya-runtime/src/engine.rs
  crates/aranya-runtime/src/vm_policy.rs
Owners: @jdygert-spok, @ssweetney-spok, @chip-so, @apetkov-so

fix lints
  crates/aranya-runtime/src/sync/dispatcher.rs
Owners: @jdygert-spok, @ssweetney-spok

Improve error
  crates/aranya-policy-compiler/src/compile.rs
Owners: @chip-so, @apetkov-so, @ssweetney-spok

fix tests
  crates/aranya-model/src/tests/ffi-policy.md
  crates/aranya-policy-compiler/src/compile.rs
  crates/aranya-policy-compiler/src/tests.rs
  crates/aranya-policy-vm/tests/vm.rs
Owners: @jdygert-spok, @ssweetney-spok, @chip-so, @apetkov-so

correctness
  crates/aranya-policy-lang/src/lang/parse/tests.rs
Owners: @chip-so, @apetkov-so, @ssweetney-spok
