Repository aranya-project/aranya-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elagergren, @jdygert, @ycarmy, @rfraser, @chip, @smckeon, @apetkov, @bzimmerman

.github/CODEOWNERS:

* @elagergren @jdygert

/canaries @jdygert @elagergren

/crates/aps-util @elagergren @jdygert
/crates/base58 @elagergren @jdygert
/crates/buggy @jdygert @elagergren

/crates/crypto* @elagergren @ycarmy

/crates/device-ffi @rfraser @chip
/crates/envelope-ffi @elagergren @ycarmy
/crates/idam-ffi @elagergren @ycarmy
/crates/model @smckeon @jdygert
/crates/perspective-ffi @apetkov @chip

/crates/policy-* @chip @apetkov
/crates/policy-ifgen* @jdygert @elagergren
/crates/policy-derive @elagergren @chip

/crates/quic-syncer @bzimmerman @jdygert
/crates/rtrack @elagergren @jdygert
/crates/rtrack-derive @elagergren @jdygert
/crates/runtime @jdygert @elagergren
/crates/trouble @jdygert @elagergren

/.github @elagergren @jdygert

policy: remove `Expression::Parentheses` (#864)
  crates/policy-ast/src/ast.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-lang/src/lang/parse.rs
Owners: @chip, @apetkov

Limit expressions in `finish` blocks (#817)
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-vm/src/tests.rs
  crates/policy-vm/tests/vm.rs
Owners: @smckeon, @jdygert, @chip, @apetkov

policy-ifgen: support optional args and fields (#865)
  crates/policy-derive/src/ffi.rs
  crates/policy-ifgen-macro/src/effect.rs
  crates/policy-ifgen-macro/src/value.rs
  crates/policy-ifgen/src/lib.rs
  crates/policy-ifgen/tests/macro.rs
  crates/policy-module/src/data.rs
  crates/policy-vm/src/stack.rs
  crates/policy-vm/tests/ffi.rs
Owners: @elagergren, @chip, @jdygert, @apetkov

Update model comments (#868)
  crates/model/src/model.rs
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/model/src/tests/mod.rs
Owners: @smckeon, @jdygert

Fix #806: Don't allow creating/updating with incorrect number of values.
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/compile/error.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

Implement `count_up_to` (#806).
  crates/policy-ast/src/ast.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-module/src/instructions.rs
  crates/policy-vm/doc/machine-model.md
  crates/policy-vm/src/machine.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

idam-ffi: use `ActionContext` for message encryption (#870)
  crates/crypto/src/groupkey.rs
  crates/crypto/src/test_util/engine.rs
  crates/idam-ffi/src/ffi.rs
  crates/idam-ffi/src/testing.rs
Owners: @elagergren, @ycarmy

model: add argument to client factory (#873)
  crates/model/src/model.rs
  crates/model/src/tests/keygen.rs
  crates/model/src/tests/mod.rs
Owners: @smckeon, @jdygert

runtime: preserve order in fact key serialization (#867)
  Cargo.lock
  Cargo.toml
  crates/crypto/Cargo.toml
  crates/crypto/src/id.rs
  crates/policy-module/Cargo.toml
  crates/policy-module/src/data.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/testing/vm.rs
  crates/runtime/src/vm_policy/io.rs
Owners: @elagergren, @jdygert, @ycarmy, @chip, @apetkov

crypto: impl proptest `Arbitrary` for custom IDs (#880)
  crates/crypto/src/id.rs
Owners: @elagergren, @ycarmy

runtime: remove needless allocation and deserialization (#887)
  crates/runtime/src/vm_policy.rs
Owners: @jdygert, @elagergren

ci: reduce ci time (#881)
  .github/workflows/correctness.yml
  Cargo.lock
  Makefile.toml
  canaries/canary-std/Cargo.toml
  canaries/canary-std/src/main.rs
  crates/aps-util/Cargo.toml
  crates/crypto-derive/Cargo.toml
  crates/crypto-ffi/Cargo.toml
  crates/crypto/Cargo.toml
  crates/device-ffi/Cargo.toml
  crates/idam-ffi/Cargo.toml
  crates/perspective-ffi/Cargo.toml
  crates/policy-ast/Cargo.toml
  crates/policy-compiler/Cargo.toml
  crates/policy-derive/Cargo.toml
  crates/policy-ifgen-macro/Cargo.toml
  crates/policy-lang/Cargo.toml
  crates/policy-module/Cargo.toml
  crates/policy-vm/Cargo.toml
  crates/rtrack/Cargo.toml
  crates/runtime/Cargo.toml
Owners: @elagergren, @jdygert, @ycarmy, @rfraser, @chip, @apetkov

policy-lang: implement reserving keywords when parsing identifiers (#740)
  crates/crypto-ffi/src/ffi.rs
  crates/envelope-ffi/src/ffi.rs
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/model/src/tests/mod.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/compile/error.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-ifgen/tests/data/tictactoe.md
  crates/policy-ifgen/tests/data/ttc.md
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/error.rs
  crates/policy-lang/src/lang/parse/keyword_extraction.pl
  crates/policy-lang/src/lang/parse/keywords.rs
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-lang/src/lang/tictactoe-policy.md
  crates/policy-vm/tests/ffi.rs
  crates/policy-vm/tests/vm.rs
  crates/runtime/src/testing/vm.rs
  crates/runtime/src/vm_policy/testing.rs
Owners: @elagergren, @ycarmy, @smckeon, @jdygert, @chip, @apetkov

model: add session object (#893)
  crates/model/src/model.rs
  crates/model/src/tests/mod.rs
Owners: @smckeon, @jdygert

ci: check all features via clippy (#892)
  Makefile.toml
  crates/base58/src/base58.rs
  crates/crypto-ffi/Cargo.toml
  crates/crypto/src/aead.rs
  crates/crypto/src/boring.rs
  crates/crypto/src/ed25519.rs
  crates/perspective-ffi/Cargo.toml
  crates/policy-ifgen-build/src/imp.rs
  crates/policy-ifgen-build/src/lib.rs
  crates/policy-ifgen-macro/src/lib.rs
  crates/policy-ifgen/src/lib.rs
  crates/policy-ifgen/tests/data/tictactoe.rs
  crates/policy-ifgen/tests/data/ttc.rs
Owners: @elagergren, @jdygert, @ycarmy, @apetkov, @chip

crypto: use inline const (#898)
  Cargo.toml
  crates/crypto/src/aead.rs
  crates/crypto/src/asn1.rs
  crates/crypto/src/bearssl.rs
  crates/crypto/src/boring.rs
Owners: @elagergren, @jdygert, @ycarmy

policy-vm: ensure run errors always have source location (#872)
  crates/policy-vm/src/error.rs
  crates/policy-vm/src/machine.rs
Owners: @chip, @apetkov

Fix #845: Compile enum references to a new Enum type, instead of integer values. (#878)
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-ifgen-macro/src/value.rs
  crates/policy-module/src/data.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov, @jdygert, @elagergren

Update dependencies (#904)
  Cargo.lock
  Cargo.toml
Owners: @elagergren, @jdygert

policy-compiler: prepend panic to progmem (#910)
  crates/policy-compiler/src/compile.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

Fix #720: Limit match arm expressions to literals.
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/tests.rs
Owners: @chip, @apetkov

Fix #735: Remove `origin` option from `check` statement.
  crates/policy-ast/src/ast.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/keywords.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
Owners: @chip, @apetkov

model: use proxy ID newtypes (#912)
  crates/model/src/model.rs
  crates/model/src/tests/mod.rs
Owners: @smckeon, @jdygert

ci: bump nightly (#911)
  Cargo.toml
  crates/crypto/src/aead.rs
  crates/crypto/src/bearssl.rs
  crates/crypto/src/boring.rs
  crates/crypto/src/ciphersuite.rs
  crates/crypto/src/default.rs
  crates/crypto/src/engine.rs
  crates/crypto/src/test_util/kdf.rs
  crates/policy-vm/src/derive.rs
  crates/runtime/src/storage/linear/libc/path.rs
  crates/trouble/build.rs
  crates/trouble/src/lib.rs
  rust-nightly.txt
Owners: @elagergren, @jdygert, @ycarmy, @chip, @apetkov

runtime: borrow in `VmProtocolData` and `Envelope` (#890)
  crates/runtime/src/vm_policy.rs
  crates/runtime/src/vm_policy/protocol.rs
Owners: @jdygert, @elagergren

Implement #716: Add command `attributes`.
  crates/policy-ast/src/ast.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/compile/target.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-module/src/module.rs
  crates/policy-vm/src/machine.rs
Owners: @chip, @apetkov

627: skip list (#823)
  crates/runtime/Cargo.toml
  crates/runtime/src/client.rs
  crates/runtime/src/client/session.rs
  crates/runtime/src/client/transaction.rs
  crates/runtime/src/command.rs
  crates/runtime/src/engine.rs
  crates/runtime/src/protocol.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/memory.rs
  crates/runtime/src/storage/mod.rs
  crates/runtime/src/sync/mod.rs
  crates/runtime/src/sync/requester.rs
  crates/runtime/src/sync/responder.rs
  crates/runtime/src/testing/dsl.rs
  crates/runtime/src/testing/testdata/many_branches.test
  crates/runtime/src/testing/testdata/max_cut.test
  crates/runtime/src/testing/testdata/skip_list.test
  crates/runtime/src/testing/testdata/sync_graph_larger_than_command_max.test
  crates/runtime/src/testing/testdata/three_client_branch.test
  crates/runtime/src/testing/testdata/three_client_compare_graphs.test
  crates/runtime/src/testing/testdata/two_client_branch.test
  crates/runtime/src/vm_policy.rs
  crates/runtime/src/vm_policy/protocol.rs
Owners: @jdygert, @elagergren

storage: fix fact index issue (#918)
  crates/model/src/tests/mod.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/linear/testing.rs
  crates/runtime/src/storage/memory.rs
Owners: @smckeon, @jdygert, @elagergren

policy-lang: replace `when` with `if` / `else if` / `else` (#936)
  crates/policy-ast/src/ast.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/keywords.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-lang/src/lang/tictactoe-policy.md
  crates/policy-vm/tests/bits/policies.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

policy-ifgen: provide effect name (#937)
  crates/policy-ifgen-macro/src/effect.rs
  crates/policy-ifgen-macro/src/effects.rs
  crates/policy-ifgen/tests/macro.rs
Owners: @jdygert, @elagergren

policy-compiler: Check Types (#879)
  crates/crypto-ffi/src/ffi.rs
  crates/policy-compiler/src/bin/policy-compiler/main.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/compile/error.rs
  crates/policy-compiler/src/compile/types.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-derive/src/ffi.rs
  crates/policy-module/src/data.rs
  crates/policy-module/src/ffi.rs
  crates/policy-vm/src/tests/ffi.rs
  crates/policy-vm/tests/bits/policies.rs
  crates/policy-vm/tests/bits/printffi.rs
  crates/policy-vm/tests/vm.rs
Owners: @elagergren, @ycarmy, @chip, @apetkov

policy-ifgen: derive `Copy` and `Hash` (#943)
  Cargo.lock
  crates/policy-ifgen-macro/src/common.rs
  crates/policy-ifgen-macro/src/value.rs
Owners: @elagergren, @jdygert

ci: pin rust 1.79 for cargo-audit (#945)
  .github/workflows/security.yml
Owners: @elagergren, @jdygert

Close #722: Implement `action` calls from within action functions. (#900)
  crates/policy-ast/src/ast.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-vm/src/machine.rs
  crates/policy-vm/src/tests.rs
  crates/policy-vm/tests/bits/policies.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

Allow duplicate type definitions (#948)
  crates/policy-compiler/src/compile/types.rs
  crates/policy-compiler/src/tests.rs
Owners: @chip, @apetkov

policy-vm: add `#[must_use]` to `ExitReason` (#933)
  crates/policy-module/Cargo.toml
  crates/policy-module/src/instructions.rs
  crates/policy-vm/Cargo.toml
  crates/policy-vm/src/machine.rs
  crates/policy-vm/src/tests.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

crypto: signingkey decapkey public return result (#766)
  crates/aps-util/src/testing.rs
  crates/crypto-ffi/src/error.rs
  crates/crypto-ffi/src/ffi.rs
  crates/crypto-ffi/src/testing.rs
  crates/crypto/examples/hsm/hsm.rs
  crates/crypto/examples/hsm/main.rs
  crates/crypto/src/apq.rs
  crates/crypto/src/aps/bidi.rs
  crates/crypto/src/aps/shared.rs
  crates/crypto/src/aps/uni.rs
  crates/crypto/src/aranya.rs
  crates/crypto/src/bearssl.rs
  crates/crypto/src/boring.rs
  crates/crypto/src/default.rs
  crates/crypto/src/ed25519.rs
  crates/crypto/src/engine.rs
  crates/crypto/src/error.rs
  crates/crypto/src/groupkey.rs
  crates/crypto/src/id.rs
  crates/crypto/src/import.rs
  crates/crypto/src/kem.rs
  crates/crypto/src/keystore/fs_keystore/tests.rs
  crates/crypto/src/keystore/memstore.rs
  crates/crypto/src/misc.rs
  crates/crypto/src/rust.rs
  crates/crypto/src/signer.rs
  crates/crypto/src/test_util/engine.rs
  crates/crypto/src/test_util/hpke.rs
  crates/crypto/src/test_util/mod.rs
  crates/crypto/src/test_util/signer.rs
  crates/idam-ffi/src/error.rs
  crates/idam-ffi/src/ffi.rs
  crates/idam-ffi/src/testing.rs
  crates/model/src/tests/keygen.rs
Owners: @elagergren, @jdygert, @ycarmy, @smckeon

#869: parse negative integers
  crates/policy-compiler/src/compile.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

#762: Check argument types when calling into the VM
  crates/policy-compiler/src/compile.rs
  crates/policy-compiler/src/compile/target.rs
  crates/policy-compiler/src/tests.rs
  crates/policy-module/src/module.rs
  crates/policy-vm/src/machine.rs
  crates/policy-vm/tests/vm.rs
Owners: @chip, @apetkov

storage: implement fact compaction (#896)
  crates/runtime/src/storage/linear/mod.rs
Owners: @jdygert, @elagergren
