Repository aranya-project/aranya-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elagergren, @jdygert, @ycarmy, @rfraser, @chip, @smckeon, @apetkov, @bzimmerman

runtime: fix fact cursor (#786)
  crates/runtime/src/client/session.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/memory.rs
  crates/runtime/src/storage/mod.rs
  crates/runtime/src/vm_policy/facts.rs
  crates/runtime/src/vm_policy/io.rs
  crates/runtime/src/vm_policy/tests.rs
Owners: @jdygert, @elagergren

runtime: Init via Actions (#701)
  Cargo.lock
  crates/model/Cargo.toml
  crates/model/src/tests.rs
  crates/policy-lang/doc/machine-model.md
  crates/policy-vm/src/error.rs
  crates/quic-syncer/benches/quic_syncer.rs
  crates/quic-syncer/examples/quic_syncer.rs
  crates/quic-syncer/tests/test.rs
  crates/runtime/src/client.rs
  crates/runtime/src/client/session.rs
  crates/runtime/src/client/transaction.rs
  crates/runtime/src/engine.rs
  crates/runtime/src/protocol.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/memory.rs
  crates/runtime/src/storage/mod.rs
  crates/runtime/src/vm_policy.rs
  crates/runtime/src/vm_policy/protocol.rs
  crates/runtime/src/vm_policy/tests.rs
  crates/runtime/tests/dsl.rs
Owners: @elagergren, @jdygert, @smckeon, @chip, @apetkov, @bzimmerman

#708: Implement enumerations (#759)
  crates/policy-ast/src/ast.rs
  crates/policy-derive/src/ffi.rs
  crates/policy-ifgen-build/src/imp.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-vm/src/compile.rs
  crates/policy-vm/src/compile/tests.rs
  crates/policy-vm/src/tests.rs
Owners: @chip, @apetkov, @elagergren, @jdygert

all: bump dependencies (#791)
  Cargo.lock
Owners: @elagergren, @jdygert

Add macro for vm actions and effects (#789)
  crates/model/src/tests.rs
  crates/runtime/src/vm_policy.rs
  crates/runtime/src/vm_policy/tests.rs
Owners: @smckeon, @jdygert, @elagergren

Fix #785. When defining a fact, ensure key and value identifiers are unique.
  crates/policy-vm/src/compile.rs
  crates/policy-vm/src/compile/tests.rs
Owners: @chip, @apetkov

bugfix: ParseError::new expected String got Message (#798)
  Cargo.lock
  crates/policy-lang/Cargo.toml
  crates/policy-lang/src/lang/parse/markdown.rs
Owners: @elagergren, @jdygert, @chip, @apetkov

policy-vm: fix returning from match arms (#803)
  crates/policy-vm/src/compile.rs
  crates/policy-vm/src/tests.rs
Owners: @chip, @apetkov

Allow trailing comma in enum definitions (#808)
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
Owners: @chip, @apetkov

storage: fix linear storage prefix query (#804)
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/memory.rs
Owners: @jdygert, @elagergren

policy-ifgen: struct conversions, reachability, and raw identifiers (#765)
  crates/policy-ifgen-build/src/imp.rs
  crates/policy-ifgen-macro/src/value.rs
  crates/policy-ifgen/src/lib.rs
  crates/policy-ifgen/tests/data/tictactoe.md
  crates/policy-ifgen/tests/data/tictactoe.rs
  crates/policy-ifgen/tests/data/ttc.rs
Owners: @jdygert, @elagergren

policy-vm: add link to test for #800 (#813)
  crates/policy-vm/src/tests.rs
Owners: @chip, @apetkov

ci: bump nightly (#795)
  crates/crypto-derive/src/lib.rs
  crates/policy-derive/src/lib.rs
  crates/policy-ifgen-macro/src/lib.rs
  crates/policy-ifgen/examples/use_ttc.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-vm/src/compile.rs
  crates/policy-vm/src/compile/error.rs
  crates/policy-vm/src/data.rs
  crates/policy-vm/src/error.rs
  crates/policy-vm/src/machine.rs
  crates/quic-syncer/src/lib.rs
  crates/rtrack-derive/src/lib.rs
  crates/runtime/src/client/transaction.rs
  crates/runtime/src/storage/linear/rustix.rs
  crates/runtime/src/sync/requester.rs
  rust-nightly.txt
Owners: @elagergren, @ycarmy, @chip, @jdygert, @apetkov, @bzimmerman

760/Add configurable FFIs to model (#787)
  Cargo.lock
  crates/model/Cargo.toml
  crates/model/src/model.rs
  crates/model/src/tests.rs
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/model/src/tests/keygen.rs
  crates/model/src/tests/mod.rs
  crates/policy-vm/src/machine.rs
Owners: @elagergren, @jdygert, @smckeon, @chip, @apetkov

Remove color from FFI schemas (#793)
  crates/policy-derive/src/ffi.rs
  crates/policy-vm/src/ffi.rs
  crates/policy-vm/src/tests.rs
  crates/policy-vm/tests/lib.rs
Owners: @elagergren, @chip, @apetkov

model: fix new clippy lint (#816)
  crates/model/src/model.rs
Owners: @smckeon, @jdygert

ci: update rustup sha256sum (#818)
  .github/actions/setup/action.yml
Owners: @elagergren, @jdygert

Improve docs, especially for VmPolicy (#810)
  crates/policy-lang/src/lang/parse/markdown.rs
  crates/policy-vm/src/machine.rs
  crates/runtime/src/vm_policy.rs
Owners: @chip, @apetkov, @jdygert, @elagergren

Fix #709: Change version to 1.
  crates/idam-ffi/src/lib.rs
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/policy-ast/src/ast.rs
  crates/policy-ifgen/tests/data/tictactoe.md
  crates/policy-ifgen/tests/data/ttc.md
  crates/policy-lang/src/bin/parser-explorer/main.rs
  crates/policy-lang/src/lang/parse/markdown.rs
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-lang/src/lang/tictactoe-policy.md
  crates/policy-lang/test-policy.md
  crates/policy-vm-explorer/src/main.rs
  crates/policy-vm/src/compile/tests.rs
  crates/policy-vm/src/module.rs
  crates/policy-vm/src/tests.rs
  crates/runtime/src/vm_policy/tests.rs
  doc/contributing.md
Owners: @elagergren, @ycarmy, @smckeon, @jdygert, @chip, @apetkov

runtime: add VxWorks/libc implementation for linear storage (#807)
  Cargo.lock
  Makefile.toml
  crates/base58/src/base58.rs
  crates/crypto/src/id.rs
  crates/crypto/src/lib.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/storage/linear/libc/error.rs
  crates/runtime/src/storage/linear/libc/imp.rs
  crates/runtime/src/storage/linear/libc/mod.rs
  crates/runtime/src/storage/linear/libc/path.rs
  crates/runtime/src/storage/linear/libc/sys/errno.rs
  crates/runtime/src/storage/linear/libc/sys/linux.rs
  crates/runtime/src/storage/linear/libc/sys/macos.rs
  crates/runtime/src/storage/linear/libc/sys/mod.rs
  crates/runtime/src/storage/linear/libc/sys/unix.rs
  crates/runtime/src/storage/linear/libc/sys/vxworks.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/tests/dsl.rs
Owners: @elagergren, @jdygert, @ycarmy

runtime: remove `rustix` linear storage impl (#829)
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/linear/rustix.rs
  crates/runtime/src/storage/mod.rs
Owners: @elagergren, @jdygert

runtime: use structs for `VmEffect` and `VmAction` (#833)
  crates/model/src/model.rs
  crates/policy-ifgen-macro/src/actions.rs
  crates/policy-ifgen-macro/src/effects.rs
  crates/policy-ifgen/examples/use_ttc.rs
  crates/policy-ifgen/src/lib.rs
  crates/runtime/src/client/transaction.rs
  crates/runtime/src/engine.rs
  crates/runtime/src/protocol.rs
  crates/runtime/src/vm_policy.rs
  crates/runtime/src/vm_policy/io.rs
  crates/runtime/tests/vm.rs
Owners: @smckeon, @jdygert, @elagergren

policy-ifgen: enum support (#836)
  crates/policy-ifgen-build/src/imp.rs
  crates/policy-ifgen-macro/src/value.rs
  crates/policy-ifgen/src/lib.rs
  crates/policy-ifgen/tests/data/tictactoe.md
  crates/policy-ifgen/tests/data/tictactoe.rs
  crates/policy-ifgen/tests/macro.rs
Owners: @jdygert, @elagergren

runtime: implement custom session perspective (#792)
  crates/buggy/src/lib.rs
  crates/runtime/src/client/session.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/memory.rs
  crates/runtime/src/storage/mod.rs
  crates/runtime/tests/vm.rs
Owners: @jdygert, @elagergren

761/Add sessions to model (#821)
  crates/model/src/model.rs
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/model/src/tests/mod.rs
Owners: @smckeon, @jdygert

crypto: add macros to call each `test_util` test (#835)
  crates/crypto/src/test_util/aead.rs
  crates/crypto/src/test_util/ciphersuite.rs
  crates/crypto/src/test_util/engine.rs
  crates/crypto/src/test_util/hash.rs
  crates/crypto/src/test_util/hpke.rs
  crates/crypto/src/test_util/kdf.rs
  crates/crypto/src/test_util/mac.rs
  crates/crypto/src/test_util/mod.rs
  crates/crypto/src/test_util/signer.rs
Owners: @elagergren, @ycarmy

runtime: move integration tests to the `testing` module (#841)
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime/src/testing/mod.rs
  crates/runtime/src/testing/vm.rs
  crates/runtime/tests/vm.rs
Owners: @elagergren, @jdygert

storage: use sequence of keys for facts (#826)
  crates/runtime/src/client/session.rs
  crates/runtime/src/client/transaction.rs
  crates/runtime/src/protocol.rs
  crates/runtime/src/storage/linear/mod.rs
  crates/runtime/src/storage/memory.rs
  crates/runtime/src/storage/mod.rs
  crates/runtime/src/testing/vm.rs
  crates/runtime/src/vm_policy.rs
  crates/runtime/src/vm_policy/facts.rs
  crates/runtime/src/vm_policy/io.rs
Owners: @jdygert, @elagergren

Fix #717: When a command policy check-exits, execute the policy's recall blocks.
  crates/policy-vm/src/machine.rs
  crates/runtime/src/client/session.rs
  crates/runtime/src/client/transaction.rs
  crates/runtime/src/engine.rs
  crates/runtime/src/protocol.rs
  crates/runtime/src/vm_policy.rs
Owners: @chip, @apetkov, @jdygert, @elagergren

Fix rust-analyzer issue (#853)
  crates/runtime/src/client/transaction.rs
Owners: @jdygert, @elagergren

Fix correctness task (#851)
  Makefile.toml
Owners: @elagergren, @jdygert

Close #718: Add `use` declaration to language. (#824)
  crates/model/src/tests/basic-policy.md
  crates/model/src/tests/ffi-policy.md
  crates/policy-ast/src/ast.rs
  crates/policy-compiler/src/compile.rs
  crates/policy-lang/src/lang/parse.rs
  crates/policy-lang/src/lang/parse/policy.pest
  crates/policy-lang/src/lang/parse/tests.rs
  crates/policy-vm/tests/vm.rs
  crates/runtime/src/testing/vm.rs
Owners: @smckeon, @jdygert, @chip, @apetkov, @elagergren

.github/CODEOWNERS:

* @elagergren @jdygert

/canaries @jdygert @elagergren

/crates/aps-util @elagergren @jdygert
/crates/base58 @elagergren @jdygert
/crates/buggy @jdygert @elagergren
/crates/crypto @elagergren @ycarmy
/crates/crypto-derive @elagergren @ycarmy
/crates/crypto-ffi @elagergren @ycarmy
/crates/device-ffi @rfraser @chip
/crates/envelope-ffi @elagergren @ycarmy
/crates/idam-ffi @elagergren @ycarmy
/crates/model @smckeon @jdygert
/crates/perspective-ffi @apetkov @chip
/crates/policy-ast @chip @apetkov
/crates/policy-derive @elagergren @chip
/crates/policy-ifgen* @jdygert @elagergren
/crates/policy-lang @chip @apetkov
/crates/policy-vm @chip @apetkov
/crates/policy-vm-explorer @chip @apetkov
/crates/quic-syncer @bzimmerman @jdygert
/crates/rtrack @elagergren @jdygert
/crates/rtrack-derive @elagergren @jdygert
/crates/runtime @jdygert @elagergren
/crates/trouble @jdygert @elagergren

/.github @elagergren @jdygert
