Repository aranya-project/aranya-core, pull requests merged in 2025-06, with the labels that each got.

#219 vm-policy: use `CS::tuple_hash` for merge ID
  crates/aranya-crypto/src/policy.rs
  crates/aranya-runtime/src/vm_policy.rs
Labels: crypto, runtime

#221 runtime: feature gate test protocol engine and ID test hashing
  crates/aranya-quic-syncer/Cargo.toml
  crates/aranya-quic-syncer/benches/quic_syncer.rs
  crates/aranya-quic-syncer/examples/quic_syncer.rs
  crates/aranya-quic-syncer/tests/test.rs
  crates/aranya-runtime/src/client/transaction.rs
  crates/aranya-runtime/src/command.rs
  crates/aranya-runtime/src/engine.rs
  crates/aranya-runtime/src/lib.rs
  crates/aranya-runtime/src/testing/dsl.rs
  crates/aranya-runtime/src/testing/mod.rs
  crates/aranya-runtime/src/testing/protocol.rs
  crates/aranya-runtime/src/vm_policy.rs
Labels: runtime

#192 Close #186: Implement struct field insertion.
  crates/aranya-policy-ast/src/ast.rs
  crates/aranya-policy-compiler/src/compile.rs
  crates/aranya-policy-compiler/src/tests.rs
  crates/aranya-policy-derive/src/ffi.rs
  crates/aranya-policy-ifgen-build/src/imp.rs
  crates/aranya-policy-lang/src/lang/parse.rs
  crates/aranya-policy-lang/src/lang/parse/policy.pest
  crates/aranya-policy-lang/src/lang/parse/tests.rs
Labels: policy-compiler, policy-ifgen
